<%- include('./partials/header') %>

<div class = "grid-container">    
    <h1>SSENSE</h1>
    <div class = "grid-box grid-box-1">
        <img src="images/clem-onojeghuo-HpEDSZukJqk-unsplash.jpg" alt="" width = "100px" height = "100px">
    </div>
    <div class = "grid-box grid-box-2">
        <img src="images/hannah-morgan-ycVFts5Ma4s-unsplash.jpg" alt="" width = "100px" height = "100px">
    </div>
   
</div>


<%- include('./partials/footer') %>
